<div id="add_blur_background">
    <div id="add_popup_form">
        <div data-controller="add">
            <button id="submit_button" class="alignright" data-action="click->add#close">Close</button>
        </div>

        <h1>Add new grade:</h1>

        <div id="flash_pane">
            <% if flash[:alert] && flash[:alert].any? %>
                <%= render partial: "alerts/alert" %>
            <% end %>
        </div>

        <%= form_with url: grades_path do |form| %>
            <%= form.label "Assignment:" %>
            <%= form.text_field :assignment_name %>

            <%= form.label "Percentage:" %>
            <%= form.text_field :grade_percentage %>

            <%= form.label "Value (optional):" %>
            <%= form.text_field :grade_value %>

            <%= form.hidden_field :code %>
            <%= hidden_field_tag 'code', code %>

            <%= form.submit "Add", id: "submit_button" %>
        <% end %>
    </div>
</div>