<h1> Welcome 
    <% if Current.user %>
        <%= Current.user.username %>
    <% end %>
</h1>

<p>Organize your modules, grades and assignments.</p>

<% if session[:logged_in] %>
    <h1>Modules</h1>

    <% @mods = Mod.where(username: Current.user.username) %>
    <% if @mods.any? %>
        <div class="mod_table">
        <ul>
            <% @mods.all.each do |mod| %>
                    <li>
                        <div>
                            <ul>
                                <li><p><%= mod[:code] %></p></li>
                                <li><p><%= link_to "More", sign_up_path, class: "nav_link" %></p></li>
                            </ul>
                        </div>
                    </li>
            <% end %>
        </ul>
        </div>
        
        <p>Take a look at all your modules <%= link_to "here", mods_path, class: "nav_link" %></p>
    <% else %>
        <p>You have no modules, add some <%= link_to "here", mods_path, class: "nav_link" %></p>
    <% end %>

    <h1>Grades</h1>
    <p> Get to know you averages and how much more you need to pass the year! Here you can add, delete and edit your grades for a module.
    <p>Take a look at all your grades <%= link_to "here", grades_path, class: "nav_link" %></p>

    <h1>Assignments</h1>
    <p>Take a look at all your assignments <%= link_to "here", sign_up_path, class: "nav_link" %></p>
<% else %>
    <h1>Modules</h1>
    <p>Take a look at all your modules <%= link_to "here", login_path, class: "nav_link" %></p>

    <h1>Grades</h1>
    <p>Take a look at all your grades <%= link_to "here", login_path, class: "nav_link" %></p>
    
    <h1>Assignments</h1>
    <p>Take a look at all your assignment <%= link_to "here", login_path, class: "nav_link" %></p>
<% end %>