<div class="first_section">
    <div class="inside_section">
            <h1>Modules</h1>

            <% @mods = Mod.where(username: session[:user_username]) %>
            <% if @mods.any? %>
                <div class="mod-table">
                    <ul style="padding-left: 0px;">
                        <% @mods.all.each do |mod| %>
                                <li>
                                    <div class="main_module">
                                        <ul>
                                            <li><h3><%= link_to mod[:code], modcod_path(code: mod[:code]) %></h3></li>
                                        </ul>
                                    </div>
                                </li>
                        <% end %>
                    </ul>
                </div>
                
                <p>Take a look at all your modules <%= link_to "here", mods_path, class: "link_to_page1" %></p>
            <% else %>
                <p>You have no modules, add some <%= link_to "here", mods_path, class: "link_to_page1" %></p>
            <% end %>
        </div>
    </div>
</div>

<div class="second_section">
    <div class="inside_section">

    <h1>Grades</h1>
    <p> Get to know you averages and how much more you need to pass the year! Here you can add, delete and edit your grades for a module.
    <p>Take a look at all your grades <%= link_to "here", grades_path, class: "link_to_page2" %></p>

    </div>
</div>

<div class="first_section">
    <div class="inside_section">

    <h1>Assignments</h1>
    <p>Take a look at all your assignments <%= link_to "here", sign_up_path, class: "link_to_page1" %></p>

    </div>
</div>
