<div id="add_blur_background" class="blur_background">
    <div id="add_popup_form" class="popup_form">
        <div data-controller="add">
            <button id="submit_button" class="alignright" data-action="click->add#close">Close</button>
        </div>

        <h1>Add module:</h1>

        <div id="flash_pane">
            <% if flash[:alert] && flash[:alert].any?%>
                <%= render partial: "alerts/alert" %>
            <% end %>
        </div>

        <%= form_with url: "/mods/create", remote: true do |form| %>
            <%= form.label "Code:" %>
            <%= form.text_field :code %>

            <%= form.label "Name:" %>
            <%= form.text_field :name %>

            <%= form.label "Year:", class: "year_input" %>
            <%= form.text_field :year %>

            <%= form.submit "Add", id: "submit_button" %>
        <% end %>
    </div>
</div>