<div class="first_section">
    <div class="inside_section">
        <h1>Your Modules:</h1>

        <% @mods = Mod.where(username: session[:user_username]) %>

        <% if @mods.any? %>
            <div class="mod_table">
                <% @mods.all.each do |mod| %>
                    <div class="mod_module">
                        <ul>
                            <li><h3><%= link_to mod[:code], modcod_path(code: mod[:code]) %></h3></li>
                            <li><p><%= mod[:module_name] %></p></li>
                            <li><p>Year: <%= mod[:year] %></p></li>
                            
                            <div data-controller="edit">
                                <button data-action="click->edit#open", id="edit_button">Edit</button>
                            </div>

                            <%= render partial: "edit", locals: {og_code: mod[:code], og_name: mod[:module_name], og_year: mod[:year]} %>
                        </ul>
                    </div>
                <% end %>
            </div>
        <% else %>
            <p><b>You have no modules</b></p>
        <% end %>
    <div>

    <div data-controller="add">
        <button data-action="click->add#open", id="create_button">Add Grade</button>
    </div>
    
    <%= render partial: "create" %>
</div>
