<div id="blur_background">
    <div id="popup_form">
        <div data-controller="add">
            <button id="submit_button" class="alignright" data-action="click->add#close">Close</button>
        </div>

        <h1>Add new grade:</h1>

        <% if flash[:alert] %>
            <div class="flash_alert" role="alert">
                <p><%= flash[:alert].split(//).join("<br>").html_safe %></p>
            </div>
        <% end %>

        <%= form_with url: grades_path do |form| %>
            <%= form.label "Assignment:" %>
            <%= form.text_field :assignment_name %>

            <%= form.label "Percentage:" %>
            <%= form.text_field :grade_percentage %>

            <%= form.label "Value (optional):" %>
            <%= form.text_field :grade_value %>

            <%= form.hidden_field :code %>
            <%= hidden_field_tag 'code', code %>

            <%= form.submit "Add", id: "submit_button" %>
        <% end %>
    </div>
</div>