<h1>Add new grade:</h1>

<button type="button" id="close_button">Close</button>

<%= form_with url: grades_path do |form| %>
    <%= form.label "Assignment:" %>
    <%= form.text_field :assignment_name %>

    <%= form.label "Percentage:" %>
    <%= form.text_field :grade_percentage %>

    <%= form.label "Value (optional):" %>
    <%= form.text_field :grade_value %>

    <%= form.hidden_field :code %>
    <%= hidden_field_tag 'code', code %>

    <%= form.submit "Add" %>
<% end %>