<div class="first_section">
    <div class="inside_section">
        <h1><%= params[:code] %></h1>

        <% current_username = session[:user_username]%>
        <% @grades = Grade.where(username: current_username, code: params[:code]) %>

        <% if @grades.any? %>
            <div class="grade_table">
                <% @grades.all.each do |grade| %>
                    <div class="single_grade">
                        <ul>
                            <li><h4><%= grade[:grade_name] %></h4></li>
                            <div class="alignright">
                                <li><p>Weight: <%= grade[:grade_percentage] %>%</p></li>
                                <li><p>Grade: <%= grade[:grade_value] %>%</p></li>
                            </div>
                        </ul>
                    </div>
                <% end %>

                <% percentage_available = (get_percentage_available(current_username, params[:code])* 100).round(2) %>
                <p>Total out of <%= percentage_available %>%: <%= calculate_percent_relative(current_username, params[:code]) %>%<p>

                <p>Total out of 100%: <%= calculate_percent_max(current_username, params[:code]) %>%<p>
            </div>
        <% else %>
            <p>You have no grades for this module</p>
        <% end %>

        <div data-controller="add">
            <button data-action="click->add#open", id="submit_button">Add Grade</button>
        </div>

        <%= render partial: "shared/add_grades", locals: {code: params[:code]} %>
    </div>
</div>