<h1><%= params[:code] %></h1>

<h2>Your grades:</h2>

<% current_username = Current.user.username%>
<% @grades = Grade.where(username: current_username, code: params[:code]) %>
<% if @grades.any? %>
    <% @grades.all.each do |grade| %>
        <ul>
            <li><p>Name: <%= grade[:grade_name] %></p></li>
            <li><p>Percentage: <%= grade[:grade_percentage] %></p></li>
            <li><p>Grade(%): <%= grade[:grade_value] %></p></li>
        </ul>
    <% end %>

        <p>Total out of 100%: <%= calculate_percent_max(current_username, mod[:code]) %>%<p>

        <% percentage_available = (get_percentage_available(current_username, mod[:code])* 100).round(2) %>
        <p>Total out of <%= percentage_available %>% available: <%= calculate_percent_relative(current_username, mod[:code]) %>%<p>
<% else %>
    <p>You have no grades for this module</p>
<% end %>